header {
    display: block;
    min-width: 100vw;
    min-height: 15vh;
    background-color: rgb(10, 20, 100);
}

.container {
    background-color: cadetblue;
}

div {
    background-color: black;
}

article{
    margin: 10px;
    background-color: aqua;
}